/* font import */
@import url('https://fonts.cdnfonts.com/css/elephant');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Rufina:wght@400;700&display=swap');

/* remove default margin and padding */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* variables */
:root {
    --fg-color: #224F34;
    --fg-sec-color: #454545;
    --fg-thd-color: #373737;
    --bg-color: #c2efd4;
    --bg-img-color: #6BC785;
    --padding-main-horizontal: 108px;
}

/* header */
header {
    background-color: var(--bg-color);
    color: var(--fg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
}

/* header container */
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em var(--padding-main-horizontal);
    width: 100%;
}

/* header title */
.header__container__title {
    margin-right: 4em;
}

/* header links */
.header__container__links {
    display: flex;
    gap: 2em;
}

/* header buttons */
.header__container__buttons {
    display: flex;
    align-items: center;
    gap: 2em;
}

/* brand title */
.brand__title {
    font-family: 'Elephant', sans-serif;
    font-size: 2.5rem;
    margin: 0;
}

/* links */
a {
    all: unset;
    cursor: pointer;
}

/* for svg */
a#header__cart {
    display: flex;
    align-items: center;
}

/* login button */
a#header__login {
    padding: 0.5em 2em;
    border: 2px solid var(--fg-color);
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

/* hover effect for login button */
a#header__login:hover {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

/* landing section */
#landing__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2em var(--padding-main-horizontal);
    background-color: var(--bg-color);
}

/* landing description */
#landing__description__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 2em;
    color: var(--fg-color);
}

/* landing title and subtitle */
#landing__title {
    font-family: 'Rufina', serif;
    font-weight: bold;
    font-size: 4.5rem;
    margin: 0;
}

#landing__subtitle {
    font-family: 'Poppins', serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
}

/* landing button */
a#landing__link {
    padding: 1em 3em;
    background-color: var(--fg-color);
    color: #fff;
    border: 2px solid var(--fg-color);
    border-radius: 3px;
    transition: background-color 0.3s ease;
    box-shadow: 20px 15px 15px rgba(0, 0, 0, 0.3);
}

/* hover effect for landing button */
a#landing__link:hover {
    background-color: var(--bg-color);
    color: var(--fg-color);
}

/* landing button container */
#landing__link__container {
    display: flex;
    align-items: center;
}

/* landing image container */
#landing__image__container {
    min-width: 350px;
    height: 100%;
    aspect-ratio: 5/7;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 3em;
}

/* landing image with background */
#landing__image__background {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--bg-img-color);
    border-radius: 70px 20px 70px 20px;
    overflow: hidden;
}

img#landing__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

/* bestsellers section */

/* bestsellers container */
#bestsellers__container {
    padding: 2em var(--padding-main-horizontal);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}

/* bestsellers title and subtitle */
#bestsellers__title {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 2em;
    color: var(--fg-color);
    text-align: center;
}

#bestsellers__subtitle {
    font-family: 'Poppins', serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 2em 0;
    color: var(--fg-color);
    text-align: center;
}

/* bestsellers cards container */
#bestsellers__cards__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2em;
    width: 100%;
}

.bestsellers__card__container {
    color: var(--fg-sec-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

/* bestsellers card name */
.bestsellers__card__description__name {
    margin-bottom: 0.5em;
    color: var(--fg-thd-color);
    font-weight: 500;
}

/* bestsellers card price */
.bestsellers__card__price__container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
}

.bestsellers__card__price__container > * > p {
    margin: 0;
}

.bestsellers__card__price__count__container {
    width: 49%;
    display: flex;
    justify-content: center;
}

/* bestsellers card rating */
.bestsellers__card__rating__container {
    width: 49%;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    border-left: 1px solid #808080;
}

/* bestsellers card image */
.bestsellers__card__image__place {
    position: relative;
    min-width: 350px;
    height: 100%;
    aspect-ratio: 5/7;
    background-color: var(--bg-img-color);
    overflow: hidden;
}

img.bestsellers__card__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}